@font-face {
    src: url("Corleone.ttf");
    font-family: Corleone;

    src: url("Death Star.otf");
    font-family: Star-Wars;
}

.first {
    font-family: Corleone;
}

.second {
    font-family: Star-Wars;
}